body{background-color: #ebeef4; width: 90%;margin: auto}
#information{
	border: solid 1px gray; margin: 10px;padding: 2px; text-align: center;
	width: 30%;
}
#listUsers{
	float: right;
	text-align: left;
	width:60%;
	height:600px;
	overflow:scroll;
}
.hocvien{
	border-bottom: solid 1px #eaeff7; padding: 10px;
}
.hang1 span{
	color: gray;
}
#span{
	color: blue; font-weight: bold;
}
.block{
	display: block;
}