<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="jquery-3.2.1.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="xuly.js"></script>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<input type="text" id="txtRoom" name="">
	<input type="button" id="btnTaoRoom" name="" value="Tao Room">
	<div id="left">
		<h3>ROOM Dang Co</h3>
		<div id="dsRoom"></div>
	</div>
	<h4 id="roomHienTai">...</h4>
	<div id="right">
		
	</div>
	<input type="text" name="txtMessage" id="txtMessage">
	<input type="button" id="btnChat" name="" value="Chat">
</body>
</html>